body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #f5f5f5;
    color: #32363a;
    margin: 0;
}

.page {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fcfcfc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

h1,h2 {
    color: #0a6ed1;
    margin-top: 0;
}

@media (max-width: 768px) {

}

/* personal info */
.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 3px #0a6ed1;
    background-color: #e8dfdf;
}

img {
    max-width: 100%;
    height: auto;
}

.contact-info {
    color: rgb(90, 90, 90);
}

.personal-info {
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.tab {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.tablinks {
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background-color: #f5f5f5;
    transition: background-color 0.3s;
    color: #32363a;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

.tablinks i {
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
}

.tablinks:hover {
    background-color: #e5e5e5;
}

.tablinks.active {
    background-color: #fff;
    color: #0a6ed1;
    border-bottom-color: #0a6ed1;
}

.tabcontent {
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.tabcontent.active {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.tabcontent:target {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.personal-info {
    display: flex;
    align-items: center;
}

.contact-info p {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.fas {
    margin-right: 10px;
}

.current-job {
    background-color: #f3f3f3;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.work-experience {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.work-experience th, .work-experience td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.work-experience th {
    background-color: #f3f3f3;
    color: #333;
}

.work-experience tr:hover {
    background-color: #f5f5f5;
}

.project-card {
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.project-card {
    transition: opacity 0.5s, transform 0.5s;
    opacity: 1;
    transform: scale(1);
}

.project-card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.btn-view {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-view:hover {
    background-color: #0056b3;
}

.project-container {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 15px; /* prevent scroll bar from pushing content */
}

.skill-bubbles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skill {
    background-color: transparent;
    border: 2px solid #5a5a5a;
    border-radius: 50px;
    color: #414141;
    padding: 5px 15px;
    font-size: 0.8rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.skill:hover {
    background-color: #cccccc;
    color: black;
    cursor: pointer;
}

.icon-spacing {
    margin-right: 8px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.contact-group {
    flex: 1;
}

.skills-columns {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* space between columns */
    flex: 1;
}

.skills-section {
    margin-bottom: 20px;
    margin-right: 100px;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

.progress-bar {
    width: 60%;
    height: 6px;
    background: #E0E0E0;
    border-radius: 3px;
}

.progress {
    height: 100%;
    background: #007BFF;
    border-radius: 3px;
}

.education-details {
    margin-left: 10px;
}

.education-details h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.timeline .entry {
    display: flex;
    align-items: center;
}

.year {
    font-weight: bold;
    margin-right: 20px;
}
